* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  background-color: rgb(187, 187, 245);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 350px;
  height: 500px;
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
  perspective: 1000px;
}
.inner-box {
  position: relative;
  width: 100%;
  height: 100%;
  //   transform: rotateY(-180deg);
  transform-style: preserve-3d;
  transition: 1s;
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: url("images/bg.jpg");
  padding: 55px;
  box-sizing: border-box;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
}
.card h2 {
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.input-box {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  margin: 6px;
  height: 32px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: #fff;
}
::placeholder {
  color: #fff;
  font-size: 18px;
}
button {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  margin: 35px 0 10px;
  height: 35px;
  font-size: 18px;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 0 10px;
  outline: none;
  color: #fff;
  cursor: pointer;
}
.btn {
  position: relative;
}
.btn::after {
  content: "\27a4";
  color: #333;
  line-height: 32px;
  font-size: 17px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right: -1px;
  top: -1px;
}
span {
  font-size: 18px;
  margin-left: 10px;
}
.card .btn {
  margin-top: 70px;
}
.card a {
  text-decoration: none;
  color: #fff;
  display: block;
  //   align-items: center;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}
