* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  background-color: rgb(187, 187, 245);
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 350px;
  height: 500px;
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
}
.inner-box {
  position: relative;
  width: 100%;
  height: 100%;
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 60, 10 0.8), rgba(0, 60, 10, 0.8)),
    url("images/bg.jpg");
  padding: 55px;
  box-sizing: border-box;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
}
